
.website-name{
   text-align: center;
}
.website-name h2{
    /* color: 	#00ff7f; */
    font-size: 30px;
    font-weight: 800px;
}
#header-text01{
    color: #008000;
}
#header-text02{
    color: red;
}
#middle-symbol{
    color: #800080;
}
.website-name p{
    font-size: smaller;
}

.header-section nav{
    align-items: center;
    text-align: center;
    background-color:#6495ed;
    line-height: 70px;
    display: flex;
    justify-content: space-evenly;
   
}
.header-section nav a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700px;
    color: white;
}
.header-section nav a:hover{
    background-color: rgb(202, 255, 123);
}
.input-feild input{
   width: 300px;
   height: 25px;
   border-radius: 2px;
   border: none;
}
.input-feild button{
    background-color: 	#3cb371;
    width: 70px;
    height: 28px;
    border-radius: 2px;
    border: none;
    color: white;
}
.budget-feild{
    color: white;
}