.poets-container{
    background-color:#e7f5f5;
    border: 1px solid whitesmoke;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.poets-container:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.img-cls{
    max-width: 150px;
    max-height: 200px;
    border-radius: 50%;
    padding: 5px;
}
.poet-name-img-style{
    text-align: center;
}
.poets-details{
    text-align: left;
    padding: 5px;
    margin-left: 5px;
}
.simple-btn{
    background-color:#2e8b57;
    width: 110px;
    height: 30px;
    border-radius: 3px;
    color: white;
    border: none;
}
.simple-btn:hover{
    border: 2px solid grey;
}
.customize{
    margin-left: 35px;
}
.customize:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}